body
{
  background-color: black;
}
nav
{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  
  width: 101%;
  height: 80px;
  padding: 1rem;
  color: white;
  background: #4d4c4c79;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#info
{
  background-color: #2B2B2B;
  border-radius: 210px;
  margin: 0 auto;
  width: 1880px;
  height: 420px;
  margin-top: 150px;
  margin-bottom: 50px;
}
#info .text
{
  font-size: 40px;
  text-align: center;
  color: white;
  margin: auto;
  width: 80%;
  height: 95%;
  padding-top: 20px;
}

#Project_info
{
  width: 1880px;
  height: 420px;
  margin: 0 auto;
  /* background-color: antiquewhite; */
}
#Project_info .latest_update
{
  border-radius: 42px;
  background-color: #fff;
  width: 930px;
  height: 100%;
  float: left;
  margin: 0 20px 0 0;
}
#Project_info .representative_project
{
  border-radius: 42px;
  background-color: #fff;
  width: 460px;
  height: 100%;
  float: left;
  margin: 0 10px 0 0;
}
#Project_info .ongoing_project
{
  border-radius: 42px;
  background-color: #fff;
  width: 460px;
  height: 100%;
  float: left;
}